.aptlist {
  overflow-y: scroll;
  overflow-x: hidden;
  height:75vh;
  padding-right:25px;
  position: relative;
}

.containeraps {
  display: flex;
  margin-top: 7px;
}

.aptprice {
  font-size: 25px;
  color: #6699CC;
  font-weight: 900;
}

.monthutil {
  font-size: 11px;
  color: #6699CC;
  margin-left: 5px;
}

.movein {
  font-size: 14px;
  color: rgb(76, 91, 92);
  margin-top:10px;
}

@media only screen and (max-width: 990px) {
  .aptlist {
    height:70vh;
  }
}

