.sortingcontainer {
  display: flex;
  margin-top:7px;
  justify-content: space-between;
}

.moremiles {
  color: #000066;
  font-weight: 900;
  font-size: 21px;
  margin-right:10px;
}

.collect {
  font-size:14px;
}

.sort {
  text-align: left;
  font-size: 12px;
}

.sortselection fieldset label > span {
  font-size: 13px;
  color: rgb(76, 91, 92);;
}

.sortselection {
  z-index: 999;
}

.sortfilter {
  padding-right:40px;
  margin-bottom:5px;
  position:relative;
  bottom:10px;
}

.sortfilter .modal {
  width: 360px;
  z-index: 999;
}

.sortfilter .recommendations {
  color: rgb(102, 153, 204);
}

.sortfilter .button {
  background-color: transparent;
  font-weight: 300;
  color: rgb(76, 91, 92);
  font-size: 13px;
  padding-left: 0;
  text-transform: capitalize;
  justify-content: flex-start;
  padding-top: 0;
}

.sortfilter .button:hover, .sortfilter .reset:hover, .sortfilter .cancel:hover {
  background-color: transparent;
}

.sortfilter .reset {
  background-color: transparent;
  font-size: 14px;
  font-weight: 100;
  color: tomato;
  text-transform: capitalize;
}

.sortfilter .cancel {
  background-color: transparent;
  font-size: 14px;
  font-weight: 100;
  color: #6699CB;
  text-transform: capitalize;
}

.sortingtext {
  position: relative;
  top:7px;
}

.milespermonth {
  margin-bottom:20px;
}