.general-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
}

.container.splitleft {
  width:100%;
}

.searchicon {
  position: relative;
  top:5px;
  margin-left:30px;
  margin-right:10px;
}

.input {
  width: 60%;
}

.input .MuiInputBase-root-111 {
  width:100%;
}

.input .MuiInput-underline-102:before, .input .MuiInput-underline-102:before, .input .MuiInput-underline-102:hover {
  border: none;
  border-bottom: none;
}

.input .MuiInput-underline-102:hover:not(.MuiInput-disabled-101):not(.MuiInput-focused-100):not(.MuiInput-error-103):before {
    border-bottom: none;
}

.input .MuiInput-underline-102:before {
  border-bottom: none;
}

.phoneicon {
  margin-right:34px;
  position: relative;
  bottom:2px;
}

.phoneicon svg {
  height:12px;
}

.fontawesomephone {
  position: relative;
  top:4px;
  margin-right:5px;
}

.language {
  margin-right:10px;
}

.language img {
  position: relative;
  top:4px;
  margin-right:5px;
}

.help, .language {
  font-size:14px;
}

.bars {
  position:relative;
  bottom:1px;
}

div .bars ul {
  padding: 0;
  background-color: rgb(250, 250, 250);
}

div .bars ul li:hover {
  background-color: white;
}

.mobilelogo {
  display: none;
  position:relative;
  top:4px;
}

.input form div {
  border-bottom: none;
}

.input form div:after {
  border-bottom: none;
}

.input form div:before {
  border-bottom: none;
}

@media only screen and (max-width: 1023px) {
  .phoneicon {
    display:none;
  }
  .homelikelogo {
    display:none;
  }
  .mobilelogo {
    display: inline;
  }
  .searchicon {
    margin-left: 20px;
  }
}